<!-- <h2>Històric de tirades</h2>
<hr> -->
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Camp</th>
      <th scope="col">Data</th>
      <th scope="col">Punts</th>
      <th scope="col">Mitja </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let k of tirada | keys; let i = index">
      <th scope="row">1</th>
      <td>{{ tirada[k].data }}</td>
      <td>{{ tirada[k].punts }}</td>
      <td>{{ tirada[k].punts / 24 | number: '2.0-1' }}</td>
    </tr>
</tbody>
</table>    