<div class="jumbotron animated fadeIn fast">
    <h1>245 punts</h1>
</div>


<div class="btn-toolbar " role="toolbar" aria-label="Toolbar with button groups" >
  <div class="btn-group mr-3"  >
    <button type="button" class=" btn-success boto-rodo">11</button>
  </div>
  <div class="btn-group mr-3"  >
    <button type="button" class=" btn-primary boto-rodo">10</button>
  </div>
  <div class="btn-group mr-3"  >
    <button type="button" class=" btn-info boto-rodo">8</button>
  </div>
  <div class="btn-group mr-3"  >
    <button type="button" class=" btn-warning boto-rodo">5</button>
  </div>
  <div class="btn-group mr-3"  >
    <button type="button" class=" btn-danger boto-rodo">0</button>
  </div>
</div>
<hr>
<div class="btn-toolbar " role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-4"  >
    <button type="button" class="btn btn-success">11</button>
  </div>
  <div class="btn-group mr-3"  >
    <button type="button" class="btn btn-primary">10</button>
  </div>
  <div class="btn-group mr-3"  >
    <button type="button" class="btn btn-info">8</button>
  </div>
  <div class="btn-group mr-3"  >
    <button type="button" class="btn btn-warning">5</button>
  </div>
  <div class="btn-group mr-4"  >
    <button type="button" class="btn btn-danger">0</button>
  </div>
</div>