<h1>Camps 3D</h1>
<hr>
<div class="card-columns">

    <div class="card animated fadeIn fast" *ngFor="let k of camps | keys; let i = index">
        <!-- <img class="card-img-top" src="{{ heroi.img }}" alt="{{ camp.nom }}"> -->
        <div class="card-body">
          <h5 class="card-title">{{ camps[k].nom }}</h5>
          <p class="card-text">{{ camps[k].localitat }}</p>
          <p class="card-text"><small class="text-muted">{{ camps[k].url }}</small></p>
        
        <button (click)="veureCamp(i)"
         type="button" class="btn btn-outline-primary btn-block">Veure més</button>

        <!-- <a [routerLink]="['/heroi', i]"  class="btn btn-outline-primary btn-block">Veure més</a> -->
        </div>
    </div>  

</div>
