<h1>
    {{camp.nom }}</h1>
<hr>
<div class="row">
    <div class="col-md-4">
        <!-- <img class="card-img-top" src="{{ camp.img }}" alt="{{ camp.nom }}"> -->
        <a [routerLink]="['/camps']" class="btn btn-outline-danger btn-block">Tornar</a>
    </div>


    <div class="col-md-8">
        <h3 class="card-title">{{ camp.nom }}</h3>
        <hr>
        <p class="card-text">{{ camp.localitat }}</p>
        <p class="card-text"><a href="{{ camp.url }}" target="_blank">{{ camp.url }}</a></p>

        <p class="card-text">Temperatura actual: {{ temperatura }}</p>
    </div>

</div>